.order {
    padding: 2rem 9%;
    text-align: center;
}

.order .heading span {
    font-family: 'Satisfy', cursive;
    font-size: 1.6rem;
    color: #27ae60;
}

.order .heading h3 {
    font-size: 1.8rem;
    color: #130f40;
}

.order .order__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    padding-top: 1.2rem;
}

.order__content .order__content-icon {
    width: calc(100% / 3);
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
}